<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserName</key>
	<string>srefan</string>
	<key>GroupName</key>
	<string>staff</string>
	<key>SessionCreate</key>
	<true/>
	<key>Label</key>
	<string>com.srefan.ssservice</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/srefan/ss/ss-in-bulk/ss.sh</string>
	</array>
	<key>StartInterval</key>
	<integer>7200</integer>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Users/srefan/ss/ss-in-bulk/task.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/srefan/ss/ss-in-bulk/task.err</string>
</dict>
</plist>
